<div class="card">
    <img src="{{image}}" alt="notebook picture" class="card_img">
    <h3 class="card_name">{{name}}</h3>
    <div class="card_specs">
        <p class="card_specs_processor">{{processor}}</p>
        <p class="card_specs_storage">{{storage}}</p>
    </div>
    <div class="card_buy_container">
        <button class="card_buy">Купити {{price}}</button>
    </div>
</div>